.banner{
    width:100%;

}
header {
	background: #BBBBBB;
	padding: 20px 0;
}
.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}
.principal p {
    margin: 0 0 1em;
}
.principal strong {
    font-weight: bold;
}
.principal em {
    font-style: italic;
}

.utensilios {
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
}
.mapa {
    padding: 3em 0;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
.video {
    width: 560px;
    margin: 2em auto;

}
.beneficios {
    padding: 3em 0;
}
.itens:first-child {
    font-weight: bold;
}
.imagem-beneficios {
	width: 50%;
}












